asgiref==3.6.0
Django==4.1.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
environ==1.0
Pillow==9.3.0
PyJWT==2.6.0
python-environ==0.4.54
pytz==2022.7
sqlparse==0.4.3
tzdata==2022.7
