{% extends 'base.html'%}{%block page%}FOSA{%endblock page%}
{%block utilisateur %}{{user.nom}} {%endblock utilisateur%}
{%block titrepage %} FORMATIONS SANITAIRES  {%endblock titrepage%}
{%block debut %} Modifier :{{enc.nomEnceinte}} {%endblock debut%}
{% load static %}
{%block btnAction %}
{%endblock btnAction%}
{%block contenu %} 
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form action="" class="login" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{form.as_table}}
      </table>
      
      <p>
        <input type="submit" value="Modifier" class="btn btn-success">
      </p>   
  </form>
  </div>
  <div class="col-4"></div>
</div>

{% endblock contenu %}