{% extends 'base.html'%}
{%block page%}FOSA{%endblock page%}
{%block utilisateur %}{{user.nom}} {%endblock utilisateur%}
{%block titrepage %} MODIFICATION EQUIPEMENT {%endblock titrepage%}
{%block debut %} Modifier <strong>{{equip.nomEquip}}</strong> {%endblock debut%}
{% block msg%}{{msg}}{%endblock msg%}
{%block contenu %}
<style>
.ccc{
    margin-top: 10px;
    margin-left: 0;
}
</style>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="" method="post"  enctype="multipart/form-data" ">
            {% csrf_token %}  
            <table>
                {{form.as_table}}  
            </table>                  
            <input type="submit" value="Enregistrer" class="btn btn-primary ccc">
        </form>
    </div>
    <div class="col-4"></div>
</div>

 {%endblock contenu%}
 {% block script%}
</script>
 {%endblock script%}