{% extends 'base.html'%}{%block page%}Dashboard{%endblock page%}
{%block utilisateur %}{{user.nom}} {%endblock utilisateur%}
{%block titrepage %} DASHOARD {%endblock titrepage%}
{%block debut %}DASHOARD{%endblock debut%}
{% block contenu %}
<style>
    .car{
        box-shadow: 0 0 5px rgb(136, 129, 129);
        color: rgb(160, 17, 88);
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-top: 30px;
        border: 1px solid  rgb(136, 129, 129);
        border-radius: 5px;
        font-family:'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: larger;
    }
</style>
<div class="container text-center">
    <div class="row row justify-content-around">
        <div class="col-2 car"> patient 20</div>
        <div class="col-2 car"> patient 20</div>
        <div class="col-2 car"> patient 20</div>
        <div class="col-2 car"> patient 20</div>
    </div>
    <div class="row">
        <div class="chart-container">
            <canvas id="barCanvas" aria-label="chart" role="img">blondo </canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('barCanvas');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
    
{%endblock contenu  %}
