{% extends 'base.html'%}{%block page%}PATIENT{%endblock page%}
{%block utilisateur %}{{user.nom}} {%endblock utilisateur%}
{%block titrepage %} LISTE DES PATIENTS {%endblock titrepage%}
{%block debut %}
<style>
    .cccc{
        padding-top: 0;
        height: 37px;
        padding-bottom: 0;
        margin-left: 2px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-7">
{% load static %}
        </div>
        <div class="col-5">
            <form class="d-flex"action="{% url 'Patientlist' %}"  method="POST" enctype="multipart/form-data" >
                {% csrf_token%}
                    {{form.as_p}}
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="le"> -->
                    <button class="btn btn-outline-success  cccc" type="submit">Search</button>
             </form>
        </div>
    </div>    
  </div>

{%endblock debut%}
{% load static %}
{%block btnAction %}
<a href="{% url 'Dashboard' %}"><img src="{% static 'img/icone/printer.svg' %}" alt="Bootstrap" width="26" height="26"></a> 
{%endblock btnAction%}
{%block contenu %} 

<table class="table table-striped table-hover">
    <thead>
        <tr class="rowtitle">
            <th >N°</th>
            <th >PATIENT</th>
            <th >DATE ET LIEU DE NAISSANCE</th>
            <th > SEXE - POIDS </th>
            <th > PATHOLOGIE </th>
        </tr>        
    </thead>
    <tbody> 
        {% for m in po.object_list %} 
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="/FosaDetail/{{m.id}}">{{m.nompatient}}</a> </td>
            <td>{{m.dtenaiss}} à {{m.lieunaiss}}</td>
            <td>{{m.sexe}} - {{m.poids}} kg(s) </td>
            <td>{{m.pathologie}}</td>
            </tr>  
        {% endfor %}      
    </tbody>
</table>

  <div >
    {% if po.has_previous %}
        <a href="?page=1"><<</a>
        <a href="?page={{ po.previous_page_number }}"><</a>
    {% endif %}
        Page {{ po.number }} of {{ po.paginator.num_pages }}
    {% if po.has_next %}
        <a href="?page={{ po.next_page_number }}">></a>
        <a href="?page={{ po.paginator.num_pages }}">>></a>
    {% endif %}
</div><br />

{%endblock contenu%}